@import 'fonts';
@import 'constants';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Futura', sans-serif;
  font-size: var(--font-md);
  color: var(--light-gray);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
