.header_container {
  text-align: center;
}

.logo {
  word-spacing: -0.3ch;
  font-size: 32px;
  letter-spacing: 1px;
  text-transform: lowercase;
  color: var(--dark-grey);
  margin: 15px 0;
}

.tagline {
  font-family: 'Optima';
  font-size: var(--font-xs);
}

.icons {
  color: var(--light-grey);
  position: absolute;
  top: 35px;
  right: 0;
}
